   .menu-text {
    color: #f7c72a;
    font-size: 15px;
   }
   
   .menu-text:hover {
    color: #fff;
  }

  .menu-icon {
    color: #f7c72a;
  }

  .menu-icon:hover {
    color: #fff;
  }

   .nav-link {
     color: #f7c72a;
   }
   
   .nav-link:hover {
     color: #fff;
   }
   
   .hero {
     height: 100vh;
     background-image: url('../images/ChineseDownhill-background.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }
   
   .hero-content {
     color: #fff;
   }
   
   .hero-heading {
     color: #f7c72a;
   }
   
   .hero-subtitle {
     color: #FFF;
   }
      
   .section-title {
     color: #fff;
   }
   
   
   .submit-button:hover {
     background-color: #fff;
     color: #333;
   }
      
   .logo {
     color: #f7c72a;
   }

   .logo:hover {
    color: #fff;
  }
